body {
  font-family: sans-serif;
}

.hide {
  background-color: #000000;
}

.container{
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  background-color: lightslategray;
}

.box{
  margin: 10px 20px;
  width: 120px;
  background-color: lavender
}

p{
  text-align: center;
}